body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#151b1e;

}

a{
    text-decoration: none;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}


.text_white{
  color: white;
}
.icon{
  margin-right: 10px;
}

.title {
  color: #cc3300;
}
.main {
  background-color: white;
}
/*----------------------------------------*/


header{
  background-color: #151b1e;
  border-bottom: #ff4000 solid 2px;
}

header .container-header{
  width: 90%;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  background-color: #35424a;
}

header .container-1{
  flex:1;
  flex-basis: 400px;
  overflow: hidden;
  display: flex;

}

.container-1 .social{
    display: flex;
    justify-content: flex-start;

}

header .container-3{
    flex:1;
    flex-basis: 400px;
}

header #photo{
  margin:auto;
}

header img{
  max-width:100%;
  max-height:100%;
}




header #info {
  margin: auto;

}



#skills{
  margin: auto;
  width:100%;
  height:100%;
}
#skills .container-2{
    width: 90%;
    margin:auto;
}



#skills container-left{


}
#skills container-right{

}
#skills p{
  line-height: 10%;
  color: white;
}

/* Container for skill bars */
#skills .bar_container {
    width: 90%; /* Full width */
    background-color: #ddd; /* Grey background */
}
#skills .title{
    width: 90%;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 0;
  font-size: 170%;
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 20px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

#skills .html {width: 80%; background-color: #e60073;}
#skills .css {width: 70%; background-color: #2196F3;}
#skills .java {width: 70%; background-color: #4CAF50;}
#skills .js {width: 65%; background-color: #f44336;}
#skills .matlab {width: 60%; background-color: #808080;}
/*---------------------*/

.container-main{
  width:90%;
  background-color: white;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
section#experience {
  flex:1 1 500px;

}


section#projects {
  flex:1 1 500px;
}

/*--------link effect---------------------*/
#projects a,
#projects a:visited,
#projects a:hover,
#projects a:active,
.work a,
.work a:visited,
.work a:hover,
.work a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#006080;
    font-weight: bold;
}

#projects a:after,
.work a:after {
  content:"";
  border-radius: 10px;
  position:absolute;
  background-color:#00bfff;
  bottom:-0.35rem;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  transition:0.5s color ease;
  height:0.20rem;
  width:0;
  left:0;
  transition:0.5s all ease;
}

#projects a:hover,
.work a:hover{
	color:#00bfff;
}

#projects a:hover:after,
.work a:hover:after{
  width:100%;
}

/* -------------responsive design------------------*/

@media(max-width: 1333px){
    #skills{
        margin-bottom: 20px;
    }
}
/*
@media(max-width: 1050px){
  header h1{
    margin:0;
  }

  header nav{
    margin-top:0;
    padding-top: 0;
  }
}

@media(max-width: 768px){
  .container{
    width:90%;
  }
  header #name {
    float: none;
    width:100%;
    box-sizing: border-box;
  }

  header nav{
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
  }
  nav ul{
    float: none;
  }

  section#experience {
    width:100%;
    float: none;
  }
  section#skills,
  section#projects {
    float: none;
    width: 100%;
  }

}
*/
